body {
    background-color:#2A2A2A;
    padding:0;
    margin:0;
    font-family: 'Righteous', cursive;
}
/* HEADER */

header {
    width:100%;
    overflow:visible;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 80px;
}

li {
    float: left;
}

li a {
    display: block;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background:#d1d1e0;
}

.logo {
    width:70%;
    height: auto;
}

/* HEADER END */

.banner {
    width:100%;
    height: 200px;
    background-size: cover;
}

.cover {
    max-width: 100%;
    height: 250px;
}

.wrapper {
    background-color:#2A2A2A;
    width:100%;
    height: 800px;
    position:relative;

}

.mid-section{
    width:45%;
    height: 800px;
    display:inline-block;
    float:left;
}

.dato {
background-color:#e6e6e6;
border: 1px solid black;

}

.dato a {
    text-decoration: none;
    color:black;
}

.dato td:hover:not(.active) {
    background:grey;
}

.left-section{
    width:33%;
    height: 100%;
    display:inline-block;
    float:left;
    overflow:visible;
}

.right-section{
    width:22%;
    display:inline-block;
    float:left;
}


table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
    font-size:16px;
    table-layout:fixed;
    text-align:center;

}
th, td {
    padding: 5px;
}

.add {

    width:4%;
}
.liga {
    border: 2px solid black;
    background-color:#333;
    font-size:20px;
    color:#d3d3d3;
    margin:0 auto;


}

.mygames {
    border: 1px solid black;
    background-color:#333;
    font-size:16px;
    color:#d3d3d3;
    text-align:center;
    margin-top:0;

}

.yourgames {
    font-size:20px;
    background-color:black;
    table-layout:fixed;
}


.firstrow {
    background-color:#e6e6e6;
    border: 2px solid black;


}
.secondrow {
    background-color:#f3f3f3;
    border: 2px solid black;
}

.time {
    width:5%;
}

.vs {
    width:5%;
}

.team {
    width:20%;

}

.position {
    width:1%;
    background-color: white;
    border: 2px solid black;

}

.matches {
    width:1%;
    border: 2px solid black;
}

.hold {

    width:10%;
    border: 2px solid black;
}

.points {
        width:1%;
        border: 2px solid black;
    }
.league {

    border: 1px solid black;
    background-color:#333;
    font-size:20px;
    color:#d3d3d3;
    margin:0 auto;
    text-align:center;
}

h1 {

   color:white;
   text-align: center;
}



/* Dropdown */
.container {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.container a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.dropdown {
    float: left;
}
.dropbtn{
  min-width: 120px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    background-color: #f9f9f9;
    max-width: 150px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 30;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
#circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: green;
  }
footer {
  background: black;
  text-align: center;
  padding: 10px 0px;
}

footer p {
  padding-top: 1px;
  padding-bottom: 5px;
    font-size: 17px;
    color: white;
    display: inline-block;
}
.box {
  background-color: #218D9B;
  height: 100%;
  width: 350px;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

.transform-active {
  background-color: #45CEE0;
  height: auto;
  width: 55%;
}
