body {margin:0;}

.topnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
img.flag {
  width: 45px;
  height: 30px;
}
section.container-1{
    position: absolute;
    border: 1px solid black;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    margin: 0;
}
table{
    width: 100%;
}
img.teams{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0
}
td{
    text-align: center;
}
section.container-2{
    position: absolute;
    border: 1px solid black;
    background-color: cornsilk;
    top: 385px;
    height: 800px;
    width: 100%;
    color: white;
    text-align: center;
    margin: 0;
}
.midnav {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

.midnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.midnav a.active {
    background-color: #4CAF50;
    color: white;
}
table.events{
  font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
    table-layout:fixed; 
}
td.events, th.events{
  border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th.events{color:white;
  background-color: #333;
  text-align: center;
}
td.events{
  table-layout: fixed;
}
#yellow-card{
  height: 25px;
  width: 15px;
  background: yellow;
}
